* {
    margin: 0;
    padding: 0;

}

/* Scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #019501;
}

body {
    background-color: black;


}

/* utility */

.flex {
    display: flex;
}


                /* cornercontainer */

.left{
    height: 97vh;
    width: 20vw;
    /* border: 5px solid rgb(255, 255, 255); */
    
    background-color: #0d110d;
    position: absolute;
    left: -300px;
}  

/* profile */

.profile{
    width: auto;
    height: 85px;
    background-color: #151111;
    display: flex;
    border: 2px solid rgb(255, 255, 255);
    /* justify-content: center; */
    align-items: center;
    gap: 14px;
    
    

}

.profile img{
    height: 35px;
    width: 35px;
    filter: invert(1);
    margin-left: 30px;
}

.profile a{
    text-decoration: none;
    font-size: 35px;
    color: aliceblue;

}

/* Items */

.items{
    width: auto;
    height: 60px;
    background-color: #151111;
    display: flex;
    border: 2px solid rgb(27, 232, 119);
    justify-content: center;
    align-items: center;
    gap: 14px;
    
    

}



.items a{
    text-decoration: none;
    font-size: 27px;
    color: aliceblue;
    font-weight: 900;
    color: chartreuse;

}

/* Setting */
.setting{
    position: absolute;
    bottom: 0;
}
.setting img{
    height: 30px;
    width: 30px;
    filter: invert(1);
    margin: 10px;
    

}


/* Close */

.close{
    position: absolute;
    top: 10px;
    left: 200px;
    cursor: pointer;
}
.close img{
    height: 20px;
    width: 20px;
    filter: invert(1);
    margin: 10px;
   
    

}

     /* Right container */

.right{
    width: 100%;
    
}     

/* Nvarbar */

.navbar {
    /* width: 100vw; */
    height: 75px;
    background-color: rgb(7, 7, 38);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* position: sticky; */
    top: 0;
    display: ;
    
    

}


/* leftnav */

.leftnav {
    display: flex;
    align-items: center;
    justify-content: center;


}

.leftnav * {}

.hamburger {
    margin-left: 10px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    
        

}



.logo {
    margin-left: 30px;
    margin-right: 30px;
}

.logo img {
    height: 60px;
    width: 60px;




}

/* middlenav */

.middlenav {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px 25px 25px 25px;
    border: 3px solid white;


}

.middlenav:hover{
    border: 4px solid rgb(104, 235, 92);
}

.searchbar input {
    
    height: 45px;
    width: 550px;
    border-radius: 20px 0px 0px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    font-size: 20px;

}

.searchimg {
    background-color: rgb(53, 196, 51);
    height: 43px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 20px 20px 0px;
    


}


.searchimg:hover{
    background-color: #188518;
    
}






.searchimg img {
    height: 22px;
    width: 22px;


}

/* Rightnav */

.rightnav {
    display: flex;
    align-items: center;
    justify-content: center;


}

.rightnav * {
    margin-left: 20px;
    margin-right: 20px;
}

.rightnav a {
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aquamarine;
    font-size: 22px;
    
}

.rightnav a:hover{
    color: rgb(71, 255, 34);
    font-size: 25px;
    

}

.rightnav img {
    filter: invert(1);
    height: 40px;
    width: 40px;
    margin-right: 10px;
    margin-left: 28px;

}

.rightnav img:hover{
    height: 42px;
    width: 42px;
}


/* Banner */

.banner {
    background-image: url("banner.jpg");
    height: 400px;
    /* width: 100vw; */
    border: 2px solid rgb(149, 0, 12);
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;






}

.banner .welcome {
    color: bisque;
    margin-left: 20px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;



}

.welcome {
    gap: 30px;



}

.welcome h2 {
    font-size: 60px;
    color: rgb(47, 255, 0);
    font-family: Arial, Helvetica, sans-serif;
}

.welcome h1 {
    font-size: 40px;
    color: rgb(87, 87, 117);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.quality {

    margin-top: 50px;
    width: 900px;
    margin-left: 210px;

}

.quality h3 {
    font-size: 30px;
    color: #c2bfd2;
    font-weight: 800;


}

.ordernow {

    margin-top: 40px;
    height: 40px;
    width: 200px;
    background-color: #019501;
    margin-left: 510px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid wheat;
    border-radius: 50px;


}

.ordernow h2 {
    font-weight: 900;
    color: black;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* Border */

.border {
    height: 7px;
    width: 100%;
    background-color: aliceblue;
    border: 2px solid yellow;
}



/* Middleware */


.middleware {
    height: auto;
    background-color: rgb(0, 0, 0);
    width: 100%;
    color: aqua;

}

.foodcontainer {
    margin: 30px;
    /* border: 2px solid white; */
    width: 1150px;
    height: 400px;

}

.foodcontainer h2 {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 35px;
}

.foodmincontainer {
    height: 320px;
    width: 300px;
    margin: 20px;
    border: 5px solid rgb(237, 214, 214);
    background-color: #040404;
    border-radius: 15px;
    text-align: center;
    
    

}

.foodmincontainer:hover{
    background-color: #0b0a0a;
    border: 5px solid rgb(51, 232, 99);
}

.foodmincontainer img{
    margin-top: 18px;
    
}

.foodmincontainer h3{
    font-size: 25px;
}

.foodmincontainer img{
    height: 220px;
    width: 220px;
    margin-top: 17px;
    border-radius: 10px;
    
}

.price{
    justify-content: center;
    align-items: center;
    gap: 122px;
    margin-top: 7px;
    
}

.price h4{
    font-size: 28px;
    font-family: sans-serif;
    color: chartreuse;
}
.addcart{
    background-color: rgb(167, 15, 40);
    height: 37px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    
}

.addcart a{
    color: #ffffff;
    text-decoration: none;
    font-size: 22px;
    font-weight: 800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.foodmaxcontainer {
    display: flex;
    justify-content: center;
    align-items: center;

}







/* Footer section */

.footer {
    height: auto;
    width: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0.9;
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.download {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin-top: 30px;
    gap: 70px;
    margin-left: 2px;



}

.download h2 {}

.download img {
    height: 60px;
    width:200px ;
    

}

.download img:hover{
    border: 2px solid wheat;
}


/*footer information */

.footerinfo {
    margin-top: 20px;
    /* margin-left: 230px; */
    height: 300px;
    width: 100%;
    border: 2px solid black;
    justify-content: center;
    align-items: center;

}

.info {
    width: 100px;
    margin-left: 70px;
    margin-right: 50px;


}

.info h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

.info a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: rgb(0, 242, 32);
}

.socialmedia {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(18, 17, 17);
    margin-top: 10px;
}

/* social media */
.socialmedia {
    gap: 25px;
    opacity: 0.8;
    font-weight: 900;
    color: #ffffff;
}

.socialmedia img {
    height: 20px;
    width: 20px;
    filter: invert(1);
}

/* Media query */

@media (max-width: 1400px) {
    .main{
        width: 100%;
    }
left
    .right{
        width: auto;
    }
}

@media (max-width: 700px){
    .foodmaxcontainer{
        display: block;

    }

    .foodmincontainer{
        width: 500px;
    }
    .middleware{
        height: auto;
        width: auto;
        display: inline;
        justify-content: center;
        align-items: center;
    }

    .left{
        width: 95%;
        height: 270vh; 
        left: -400vw;
    }

    /* /* Banner * */
    .banner {
        background-image: url("banner.jpg");
        height: 1000px;
        width: auto;
        border: 2px solid rgb(149, 0, 12);
        background-repeat: no-repeat;
        background-size: cover;
        color: aliceblue;
    
    
    
    
    
    
    }
}